/*CSS Général*/

*{
    box-sizing: border-box;
}

:root{ /*variables données à tout le code CSS */
    --color1: rgb(255, 120, 0); /* ou #ff6600*/
    --color2: #f4f4f4;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

iframe {
    width: 100%;
    border: none;
    height: 300px;
}




/*CSS Cover*/

div.cover {
    position: relative;
    background: url(fond_ordi_filtre.png) no-repeat center/cover;
    height: 370px;
}



p.logo {
    display: inline-block;
    font-family: Monotype Corsiva;
    font-size: 72px;
    color:var(--color1);
    background-color: black;
    border:2px solid var(--color1);
    border-radius: 50%;
    padding: 35px 35px;
    margin-top: 40px;
}


h1{
    font-family: Monotype Corsiva;
    font-size: 20px;
    color:var(--color1);
    margin-left: 10px;
    margin-top: 0;
    position: relative;
    font-weight: normal;
}

h1 c {
    font-size: 42px;
}


a.contact-button{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--color1);
    padding: 10px 20px;
    text-decoration: none; /* pour supprimer le soulignage */
    background-color: #000000bb; /*pour ajouter une opacité noire */
    display: inline-block; /* pour pouvoir paramétrer des marges */
    margin-top: 0px;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 8px;
}

a.contact-button:hover { /*hover = si la souris survole le lien */
    color: var(--color1);
    border: 1px solid white;
    font-size: 15px;
}

/*div.cover-contact {
    position: absolute;
    border-left: 2px solid var(--color1);
    padding-left: 8px; 
    margin-top: -5px;
    margin-bottom: -15px;
}*/

/*div.cover-contact p{
    margin-bottom: 5px;
    margin-top: 5px;
}*/

/*div.cover-contact a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background-color: #00000040;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 2px;
    text-decoration: none;
}*/

/*div.cover-contact a:hover{ 
    color: var(--color1);
    font-size: 15px;
}*/







/*CSS des sections*/

.section{ /*classe commune à toutes les sections afin de rassembler les propriétés communes*/
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

div.section-grise1{
    /*import du triangle blanc, sans répétition, centré, en bas, largeur 100%*/
    background: url(triangle2white.svg)no-repeat center bottom -1px/100%;
    background-color: var(--color2);
    padding-bottom: 100px;
}

div.section-grise1 p { /*personnalisation du texte*/
    font-size: 22px;
    color: #656565;
    text-align: center;
    max-width: 350px;   /*pour que le texte apparaisse sur 2 lignes*/
    margin-left: auto;  /*pour qu'il reste centré*/
    margin-right: auto; 
}


div.section-grise2{
    background: url(triangle1white.svg)no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 80px;
}

h2{
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

div.separateur {
    background-color: var(--color1);
    height: 1px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}

img.col-contenu{
    width: 28%;
    max-width: 210px;
    margin-left: 2%;
}

div.col-contenu{
    width: 70%;
    padding-left: 16px;
}

.float-right{ /*fenêtre flottante à droite pour éviter la superposition*/
    float:right;
}


div.texte-avec-bordure-left {
    border-left: 2px solid var(--color1);
    padding-left: 8px;
    height: 100%;
    display: inline-block; /*pour éviter que le texte en dessous de la bordure déborde sur celui du dessus*/
}

div.texte-avec-bordure-left p{
    margin-top: 0px;
}

div.barre-verticale{
    height: 75px;
    width: 2px;
    background-color: var(--color1);
}

.colonne-portfolio {
    width: 47%;
}

div.frame {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 80%;
    min-width: 300px;
    height: auto;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.1);
}


p.titre-frame {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

div.frame img{
    width: 100px;
}

div.paragraphe-avec-bordure-left {
    border-left: 2px solid var(--color1);
    padding-left: 8px;
    height: 50%;
    display: inline-block; /*pour éviter que le texte en dessous de la bordure déborde sur celui du dessus*/
}

/*CSS PORTFOLIO*/

div.portfolio-header {
    height: 60px;
    background: url(fond_ordi_filtre.png) no-repeat center/cover;
}

h1.titre-header {
    font-family: Monotype Corsiva;
    font-size: 20px;
    color:var(--color1);
    margin-left: 10px;
    margin-top: 0;
    position: relative;
}

h1.titre-header c {
    font-size: 42px;
}


a.contact-button-header{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--color1);
    padding: 10px 20px;
    text-decoration: none; /* pour supprimer le soulignage */
    background-color: #000000bb; /*pour ajouter une opacité noire */
    display: inline-block; /* pour pouvoir paramétrer des marges */
    margin-top: 0px;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 8px;
}



a.contact-button-header:hover { 
    color: var(--color1);
    border: 1px solid white;
    font-size: 15px;
}

h2.portfolio {
    font-size: 46px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3.portfolio {
    text-align: center;    
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: normal;
}

a.portfolio-back {
    margin-top: 0;
    color: var(--color1);
    margin-left: 0;
}

img.portfolio-image{
    width: 70%;
    max-width: 469px;
    margin-top: 30px;
}

.display-mobile {
    display: none;
}

/*Responsive design*/
@media only screen and (max-width: 767px) {
    /*img.cover-profile {
        height: 120px;
        margin-left: -97.445px;
        margin-top: 110px;
    }*/

    div.cover {
        height: 250px;
    }

    p.logo {
        font-size: 48px;
        padding: 25px 25px;
        margin-top: 30px;
    }
    

    h1 {
        font-size: 14px;
        padding-top: 7px;
        margin-left: 6px;
    }
    
    h1 c {
        font-size: 28px;
    }

    a.contact-button{
        padding: 5px 10px;
        margin-top: 0px;
        font-size: 12px;
        right: 10px;
        top: 14px;
    }

    div.cover-contact a{
        background-color: #00000080;
    }

    .section{ /*classe commune à toutes les sections afin de rassembler les propriétés communes*/
        padding-left: 20px;
        padding-right: 20px;

    }
    
    div.section-grise1{
        padding-bottom: 50px;
    }

    h2 {
        font-size: 30px;
    }

    img.col-contenu{
        width: 80%;
        max-width: 210px;
        margin-left: 17%;

    }
    
    div.col-contenu{
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
    }

    
    .colonne-portfolio {
        width: 100%;
        margin-bottom: 20px;
    }

    /*CSS FRAME RESPONSIVE*/

    div.frame {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        box-shadow: none;
    }
    
    iframe {
        height: 250px;
    }

    /*CSS HEADER PORTFOLIO RESPONSIVE*/
    h1.titre-header {
        font-size: 14px;
        padding-top: 7px;
        margin-left: 6px;
    }
    
    h1.titre-header c {
        font-size: 28px;
    }
        
    a.contact-button-header{
        padding: 5px 10px;
        margin-top: 0px;
        font-size: 12px;
        right: 10px;
        top: 14px;
    }

    h2.portfolio {
        font-size: 40px;
    }
    
    h3.portfolio {
        font-size: 22px;
    }

    img.portfolio-image{
        width: 100%;
    }

    .display-mobile {
        display: block;
    }

}