// === 🎨 Couleurs
$orange: rgb(255, 120, 0);
$bleu: #11a0ff;
$noir: #000000;
$text-color: rgba(255, 240, 227, 0.9);
$card-color: rgba(156, 156, 156, 0.55);

// === ✍️ Polices
$font-ddd: 'Monotype Corsiva';
$font-Parisienne: 'Parisienne', cursive;
$font-Merriweather: 'Merriweather', serif;

// === 📏 Espacements
$spacing: 1.5rem;
